In [1]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [2]:
players = len(purchase_data['SN'].unique())
purchase_data["Total Players"] = players
purchase_data[["Total Players"]].head(1)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
items = len(purchase_data["Item Name"].unique())
purchase_data["Number of Unique Items"] = items
avgprice = ("$" + str(round(purchase_data["Price"].mean(), 2)))
purchase_data["Average Price"] = avgprice
purchases = len(purchase_data["Item Name"])
purchase_data["Number of Purchases"] = purchases
total = ("$"+"{:,}".format(purchase_data["Price"].sum()))
purchase_data["Total Revenue"] = total
purchase_data[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]].head(1)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
users = purchase_data.loc[:, ["SN", "Age", "Gender"]]
users = users.drop_duplicates()
gendertotal = users["Gender"].value_counts()
percents = gendertotal / players * 100
Demographics = pd.DataFrame({"Percentage of Players": percents, 
                             "Total Count": gendertotal})
pd.options.display.float_format = '{:,.2f}%'.format
Demographics

                       Percentage of Players  Total Count
Male                                  84.03%          484
Female                                14.06%           81
Other / Non-Disclosed                  1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gendercount = purchase_data.groupby(["Gender"]).count()["Price"]
avggenderprice = purchase_data.groupby(['Gender']).mean()["Price"]
gendertotal = purchase_data.groupby(['Gender']).sum()["Price"]
totalavg = gendertotal / Demographics["Total Count"]
genderanalysis = pd.DataFrame({"Purchase Count": gendercount,
                            "Average Purchase Price": avggenderprice, 
                            "Total Purchase Value": gendertotal, 
                            "Avg Total Purchase per Person": totalavg})
pd.options.display.float_format = '${:,.2f}'.format
genderanalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
users["Age Group"] = pd.cut(users["Age"], bins, labels=group_names)
age_group = users.groupby("Age Group")
total = age_group["SN"].count()
percents = total / players * 100
pd.options.display.float_format = '{:,.2f}%'.format
agetable = pd.DataFrame({"Total Purchase Count": total, 
                         "Percentage of Players": percents})
agetable

           Total Purchase Count  Percentage of Players
Age Group
<10                          17                  2.95%
10-14                        22                  3.82%
15-19                       107                 18.58%
20-24                       258                 44.79%
25-29                        77                 13.37%
30-34                        52                  9.03%
35-39                        31                  5.38%
40+                          12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
totalvalue = purchase_data.groupby("Age Group").sum()["Price"]
purchasecount = purchase_data.groupby(["Age Group"]).count()["Price"]
avgprice = purchase_data.groupby(['Age Group']).mean()["Price"]
totalavg = totalvalue / agetable["Total Purchase Count"]
agetable2 = pd.DataFrame({"Total Purchase Value": totalvalue,
                         "Purchase Count": purchasecount, 
                        "Average Purchase Price": avgprice, 
                         "Avg Total Purchase per Person": totalavg})
pd.options.display.float_format = '${:,.2f}'.format
agetable2

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,$77.13,23,$3.35,$4.54
10-14,$82.78,28,$2.96,$3.76
15-19,$412.89,136,$3.04,$3.86
20-24,"$1,114.06",365,$3.05,$4.32
25-29,$293.00,101,$2.90,$3.81
30-34,$214.00,73,$2.93,$4.12
35-39,$147.67,41,$3.60,$4.76
40+,$38.24,13,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame